body {
    font-family: Tahoma;
}

h1 {
    color: #89a3aa;
    padding-left: 5px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: white;
    style: none;
}

a:visited {
  color: gray;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
}

ul {
    list-style-type: none;
}

.topnav {
  background-color: #ffcccc;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

#calendar {
    width: 100%;
}

#calendar a {
    color: #666;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width: 14.2857142857%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #cdf5ff;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform:: uppercase;
    line-height: 20px;
    border: none !important;
    padding 10px 6px;
    color: #000000;
    font-size: 16px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li :hover {
    background: #eee;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff5cd;
    color: #000000;
    width: 25px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666;
    line-height: 14px;
    background-color: #F0F8FF;
    border: 1px solid #b5dbdc;
    text-decoration: none;
}

#calendar .event .oncall {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666;
    line-height: 14px;
    background-color: #ffe6f3;
    border: 1px solid #b5dbdc;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}

@media(max-width: 500px) {
    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        heigth: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
}
